@import "./colors";

$start: 0;
$end: 60;

@for $i from $start through $end {
  .font-size-#{$i} {
    font-size: $i * 0.0625 + rem !important;
  }
  .text-bold-#{$i}-black {
    font-weight: bold;
    font-size: $i * 0.0625 + rem !important;
    color: black;
  }
  .text-500-#{$i}-black {
    color: black;
    font-weight: 500;
    font-size: $i * 0.0625 + rem !important;
  }
  .text-400-#{$i}-black {
    color: black;
    font-weight: 400;
    font-size: $i * 0.0625 + rem !important;
  }
  .text-bold-#{$i}-lightgray {
    color: gray;
    font-weight: bold;
    font-size: $i * 0.0625 + rem !important;
  }
  .text-500-#{$i}-lightgray {
    color: $light-gray;
    font-weight: 500;
    font-size: $i * 0.0625 + rem !important;
  }
  .text-400-#{$i}-lightgray {
    color: $light-gray;
    font-weight: 400;
    font-size: $i * 0.0625 + rem !important;
  }
  .text-300-#{$i}-lightgray {
    color: $light-gray;
    font-weight: 300;
    font-size: $i * 0.0625 + rem !important;
  }

  .text-bold-#{$i}-gray {
    color: gray;
    font-weight: bold;
    font-size: $i * 0.0625 + rem !important;
  }
  .text-500-#{$i}-gray {
    color: gray;
    font-weight: 500;
    font-size: $i * 0.0625 + rem !important;
  }
  .text-400-#{$i}-gray {
    color: gray;
    font-weight: 400;
    font-size: $i * 0.0625 + rem !important;
  }
  .text-bold-#{$i}-white {
    color: white;
    font-weight: bold;
    font-size: $i * 0.0625 + rem !important;
  }
  .text-500-#{$i}-white {
    color: white;
    font-weight: 500;
    font-size: $i * 0.0625 + rem !important;
  }
  .text-400-#{$i}-white {
    color: white;
    font-weight: 400;
    font-size: $i * 0.0625 + rem !important;
  }
}
